.copyright, h7 {
margin-right: 27em;}

.footer-cta {

  border-bottom: 1px solid #373636;
    padding-bottom: 3rem!important;
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}

.my-footer {
	position: relative;
	color: var(--gray85);
	background: var(--gray05);
	line-height: 1.6;
	background: #151414;
border-top: 9px solid #a1a1a1;
color: #999693;}

.footer_container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 16px;
	overflow-x: hidden;
} 

.footer_container p {
	margin: 0 0 1.45rem;
	line-height: 30px;
}

.footer_container a {
	color: var(--gray85);
	text-decoration: none;
}

.footer_container .column_header {
	/*flex: 0 0 100%; */
	padding-bottom: 15px;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	padding: 0 15px 15px;
	color: #fff;
  padding-top: 3em;
      text-decoration: underline #ff5e14 3px;
   text-underline-offset: 8px;
}

.footer-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
}

.footer_column {
	display: flex;
	flex-direction: column;
	flex: 0 0 50%; 
	padding-left: 15px;
	padding-right: 6px;
	font-size: 16px;
}

.footer_left,.footer_right {
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
}

.footer_column a {
	padding: 5px 0;
  font-size: 13px;
    font-weight: 500;
}

.footer_description_column {
	flex: 1 0 90%;
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.footer_description_column a {
	text-decoration: underline;
}

p.footer-donation {
	font-weight: 700;
	font-size: 18px;
}

p.footer-donation a:hover {
	text-decoration: none;
}

.footer_container .col-spacer {
	margin-top: -3rem;
}

.Useful_Links {
	margin: 0 0 3rem;
}

.footer_bottom .footer_Copyright {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  font-size: 13px;
}

.footer_bottom .footer_Copyright a {
	/*padding: 5px 10px; */
   padding-left: 28px;
}

@media (min-width:500px) {
	.Useful_Links_row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.footer_column-3 {
		flex: 1 0 100%;
		flex-direction: row;
	}

	.footer_right {
		padding-left: 15px;
	}

	.footer_column-1,.footer_column-2,.footer_left,.footer_right {
		flex: 1 0 45%;
		height: auto;
		font-size: 15;
	}
}

@media (min-width:800px) {
	.footer_container {
		width: 750px;
	}

	.footer_column-1,.footer_column-2,.footer_column-3 {
		flex: 1 0 25%;
		height: auto;
		font-size: 16.5;
	}

	.footer_column-3 {
		flex-direction: column;
	}

	.footer_right {
		padding-left: 0;
	}

	.footer_container .col-spacer {
		margin-top: 40px;
	}

	.footer_bottom .footer_Copyright a {
		
       padding-left: 28px;
	}
}

@media (min-width:1020px) {
	.footer_container {
		width: 850px;
	}
}

@media (min-width:1200px) {
	.footer_container {
		width: 1170px;
	}

	.footer_top {
		display: flex;
		flex-direction: row;
	}

	.footer_description_column {
		flex: 1 0 45%;
	}

	.Useful_Links {
		flex: 1 0 58%;
	}

	.footer_column-1 {
		flex: 1 0 25%;
	}

	.footer_column-3 {
		flex: 1 0 30%;
	}

	.footer_column-2 {
		flex: 1 0 20%;
	}

	p.footer-donation {
		margin-top: 18px;
	}

	.footer_bottom .footer_Copyright {
		
      
      
         justify-content: right;
    background-color: #202020;

    padding: 20px;
	}

	.footer_bottom .column_header {
		display: none;
	}

	.footer_Copyright {
		margin-top: 20px;
	}

	.footer_divider {
		height: 1px;
		margin: 0 15px;
		background-color: #373636;
      border-bottom: 1px solid #373636;
	}}






.game-explanation {
    overflow: hidden;
    background: #ecebe4;
    padding: 20px;
    border: 3px solid #cdcdcd;
    box-shadow: inset -1px 0px 20px 5px rgb(100 100 100 / 16%);
    text-align: justify;
}
      
	.subscribe-button {
		display: inline-block;
		background: #a24add;
		border-radius: 5px;
		padding: 0 6px;
		text-decoration: none;
		color: #f6effb;
		line-height: 38px;
		display: inline-block;
		text-align: center;
	}
	
	a {
		color: #efb000;
		font-weight: 700;
		text-decoration: underline;
		cursor: pointer
	}
    
	a:hover{color: #319d66;} 
	
	
	.score-container,
	.best-container {
		color: #06f3b1
	}
	
	strong.important {
		text-transform: none;
		color: #15bb39;
		border: 5px solid #dddbdb;
		padding: 4px
	}
	

	
	
      

	.home {
		background: #15b1698c;
		border-radius: 3px;
		padding: 0 20px;
		text-decoration: none;
		color: #001f43;
		height: 40px;
		line-height: 42px;
		display: inline-block;
		text-align: center
	}
	
	.above-game {
		text-align: center
	}
	
	.newcontainer {
		width: 800px;
		margin: 0 auto
	}
	
	p {
		margin-top: 5px;
		margin-bottom: 5px;
		line-height: 1.65;
		font-family: cursive
	}
	
	@media screen and (max-width:520px) {
		.restart-button,
		.undo-button {
			display: inline-block;
			background: #f99666;
			border-radius: 3px;
			padding: 0 17px;
			text-decoration: none;
			color: #001f43;
			height: 40px;
			line-height: 42px;
			display: inline-block;
			text-align: center
		}
				.home {
			background: #15b1698c;
			border-radius: 3px;
			padding: 0 20px;
			text-decoration: none;
			color: #001f43;
			height: 40px;
			line-height: 42px;
			display: inline-block;
			text-align: center
		}
		.above-game {
			text-align: center
		}
		.newcontainer {
			width: 490px;
			margin: 0 auto
		}
		p {
			margin-top: 5px;
			margin-bottom: 5px;
			line-height: 1.65;
		
          font-family: Verdana;
		}
	}
	
	.day p {
		margin-top: 5px;
		margin-bottom: 5px;
		line-height: 1.65;
		font-family: cursive;
		text-align: right;
		font-size: 15px
	}
	
	blink {
		color: #2d38be;
		font-size: 15px;
		font-weight: bold;
	}
	
	
	.blink-bg {
		color: #fff;
		padding: 8.5px;
		display: inline-block;
		border-radius: 5px;
		animation: blinkingBackground 2s infinite;
		text-decoration: none;
	}
	
	@keyframes blinkingBackground {
		0% {
			background-color: #10c018;
		}
		25% {
			background-color: #1056c0;
		}
		50% {
			background-color: #ef0a1a;
		}
		75% {
			background-color: #254878;
		}
		100% {
			background-color: #04a1d5;
		}
	}
	
	
	 

#left_column {
    width: ;
    display: ;
    padding: 3em;
}
@media (max-width: 597px){
#left_column {
          display: none;
             }

}

#grid_container_left_column {
    display: -webkit-box;
    display: -ms-flexbox;
   
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#grid_container_left_column .item {
    /* -webkit-box-flex: 1; */
    -ms-flex: auto;
    /* flex: auto; */
    /* text-align: center; */
    padding: 0.4rem;
    /* border-radius: 0.2rem; */
    border: 0.2rem solid;
    /* padding: 1rem; */
    /* margin: 0.3rem; */
    /* height: 169px; */
    /* width: 150px; */
    border: 6px solid #f3f2f2;
    box-shadow: 0px -1px 7px 1px #ffffff;
	background-color: #f9f9f9;
    margin: 20px;
	    color: #dd4800;
    text-decoration: none;
}
.item, a{
    text-decoration: none;
}

.item, a :hover {
    color: #148d4a;
}

 img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    height: 110px;
    width: 130px;
}    





 
.othergame a { color: #ffffff; text-decoration: none;}    
.othergame a:hover{color: #94ffe1;}  
.othergame {
    display: inline-block;
    background: #1b7276;
    border-radius: 3px;
    padding: 1px;
    text-decoration: none;
    color: #ffffff;
    height: 40px;
    line-height: 32px;
    display: inline-block;
    text-align: center;
    border: 3px solid #bdc6c7;
	width: 10em;
}
.game-container {
  margin-top: 11px;
    position: relative;
    padding: 15px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
   background: #d2d0c2;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   /* border: 3px solid rgb(224 137 161 / 22%); */
        box-shadow: 1px 2px 10px 1px rgb(2 2 2 / 51%);
}
  
.legend-grid {
    background: #f3f3f3;
    border: 1px solid #d7d7d7;
	  position: relative;
  padding: 7.5px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #ea74a0;
  border-radius: 4px;
  width: 73px;
  height: 73px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left; 
}     
       
@media screen and (max-width:520px) {             
    .game-container {
    margin-top: 11px;
    position: relative;
    padding: 15px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;  
    width: 290px;
    height: 290px;    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 2px 10px 1px rgb(2 2 2 / 51%);}
  } 



	 
          

     /* @media only screen and (max-device-width: 480px)
          
   @media (max-width: 680px) { */
     
     @media screen and (max-width:520px) {
        
 :root{--backcol:#ffffff;}body{background-color: var(--backcol);}.color-picker{display: inline-flexpp; justify-content: center; align-items: center; background-color: #f1f3f4; padding: 4px 3px; border-radius: 10px;box-shadow: 1px 0px 14px 0px #c7c4c4; float: right; 
      margin-top:-10px; border: 2px solid #ffffff;  margin-right: 15px;}    
       
      #grid_container_left_column {display: none;} 
 .score-container, .best-container {width: 25%;} 

       }           

	
	
	
      
         ul.img-grid {
    padding-top: 22px;
}
                 
 ul.img-gridd {
    padding-top: 73px;
    /* padding-right: 0px; */
    margin-left: 36px;
}
        
        @media screen and (min-width:520px) {
    :root{--backcol:#ffffff;}body{background-color: var(--backcol);}.color-picker{display: inline-flexpp; justify-content: center; align-items: center; background-color: #f1f3f4; padding: 4px 3px; border-radius: 10px;box-shadow: 1px 0px 14px 0px #c7c4c4; float: right; 
    border: 2px solid #ffffff; margin-right: -100px; /* margin-top:2px;   margin-right: 2px; */} 
          
          .rank-wrapper {
    margin-left: 70px;
}
        }
        
        .picktext{font-size: 12px; color: black; font-weight: bolder; padding: 0px 10px; text-align: center; font-family: 'Fredoka One', cursive;line-height: 12px;}.picktxt{font-size: 12px; color: black; font-weight: bolder; padding: 0px 10px; text-align: center; font-family: 'Fredoka One', cursive;line-height: 12px;}.picker{width: 42px; /* height: 50px; */ border-radius: 20%; /* overflow: hidden; */ position: relative;}.inputcolor{width: 22px; height: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); cursor: pointer;}.color-code{/* width: 50px; */ /* padding: 10px; */ border: 2px solid #d9d8d8; font-family: 'Montserrat' ,sans-serif; background-color: #1214140f; box-shadow: 1px -1px 7px 7px #d5cece; border-radius: 2px; display: inline-flex; line-height: 3px;}.inline{display: inline-flex;}
        
        .card.game {
    margin-top: 40px;
}
         
        
        
    
  
@media (max-width: 580px){
.col-sm-3{ display: none;} 
  
        
        .tile .tile-inner {
    border-radius: 3px;
    background: #146b22;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 0px;}
   
  img, svg { vertical-align: unset;}
  
  }
 
