 body {
  background-image: url(https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/bg.webp);
 } 
.tile-score-2 {
  background-image: url("https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/2.webp");
 }
.tile-score-4 {
  background-image: url("https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/4.webp");
 }
.tile-score-8 {
  background-image: url("https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/8.webp");
 }
.tile-score-16 {
  background-image: url("https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/16.webp");
 }
.tile-score-32 {
  background-image: url("https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/32.webp");
 }
.tile-score-64 {
  background-image: url("https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/64.webp");
 }
.tile-score-128 {
  background-image: url("https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/128.webp");
 }
.tile-score-256 {
  background-image: url("https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/256.webp");
 }
.tile-score-512 {
  background-image: url("https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/512.webp");
 }
.tile-score-1024 {
  background-image: url("https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/1024.webp");
 }
.tile-score-2048 {
  background-image: url("https://2048-cupcake.github.io/2048game/2048DonutsImg/2048Donuts6/2048.webp");
 }
